In [1]:
import numpy as np
import pandas as pd
import pandas_ta as ta 
import datetime as dt
import yfinance as yf # yahoo finance مكتبة لتحميل الأوراق المالية من موقع

In [2]:
start = dt.datetime(2022,1,1)
data = yf.download('AAPL',start=start)  # yahoo تحميل سوق الورق المالي من

[*********************100%***********************]  1 of 1 completed

In [3]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03 00:00:00-05:00,177.830002,182.880005,177.710007,182.009995,180.959747,104487900
2022-01-04 00:00:00-05:00,182.630005,182.940002,179.119995,179.699997,178.663086,99310400
2022-01-05 00:00:00-05:00,179.610001,180.169998,174.639999,174.919998,173.910645,94537600
2022-01-06 00:00:00-05:00,172.699997,175.300003,171.639999,172.000000,171.007507,96904000
2022-01-07 00:00:00-05:00,172.889999,174.139999,171.029999,172.169998,171.176544,86709100
...,...,...,...,...,...,...
2022-12-19 00:00:00-05:00,135.110001,135.199997,131.320007,132.369995,132.369995,79592600
2022-12-20 00:00:00-05:00,131.389999,133.250000,129.889999,132.300003,132.300003,77432800
2022-12-21 00:00:00-05:00,132.979996,136.809998,132.750000,135.449997,135.449997,85928000
2022-12-22 00:00:00-05:00,134.350006,134.559998,130.300003,132.229996,132.229996,77852100
2022-12-23 00:00:00-05:00,130.919998,132.419998,129.639999,131.860001,131.860001,63771000

In [4]:
data.head(1)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03 00:00:00-05:00,177.830002,182.880005,177.710007,182.009995,180.959747,104487900

In [5]:
np.log(data)  # أخذ اللوغارتم لكل أعمدة البيانات

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03 00:00:00-05:00,5.180828,5.208830,5.180153,5.204062,5.198275,18.464582
2022-01-04 00:00:00-05:00,5.207462,5.209158,5.188056,5.191289,5.185502,18.413761
2022-01-05 00:00:00-05:00,5.190788,5.193901,5.162727,5.164329,5.158542,18.364508
2022-01-06 00:00:00-05:00,5.151556,5.166499,5.145399,5.147494,5.141707,18.389231
2022-01-07 00:00:00-05:00,5.152656,5.159860,5.141839,5.148482,5.142695,18.278069
...,...,...,...,...,...,...
2022-12-19 00:00:00-05:00,4.906089,4.906755,4.877637,4.885601,4.885601,18.192432
2022-12-20 00:00:00-05:00,4.878170,4.892227,4.866688,4.885072,4.885072,18.164921
2022-12-21 00:00:00-05:00,4.890199,4.918593,4.888468,4.908603,4.908603,18.269020
2022-12-22 00:00:00-05:00,4.900448,4.902010,4.869840,4.884543,4.884543,18.170321
2022-12-23 00:00:00-05:00,4.874586,4.885979,4.864761,4.881741,4.881741,17.970809

In [6]:
data / data.shift() # تقسم كل عنصر في العامود على الذي قبله

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04 00:00:00-05:00,1.026992,1.000328,1.007934,0.987308,0.987308,0.950449
2022-01-05 00:00:00-05:00,0.983464,0.984858,0.974989,0.973400,0.973400,0.951941
2022-01-06 00:00:00-05:00,0.961528,0.972970,0.982822,0.983307,0.983307,1.025031
2022-01-07 00:00:00-05:00,1.001100,0.993383,0.996446,1.000988,1.000988,0.894794
...,...,...,...,...,...,...
2022-12-19 00:00:00-05:00,0.988441,0.982201,0.981979,0.984090,0.984090,0.497205
2022-12-20 00:00:00-05:00,0.972467,0.985577,0.989111,0.999471,0.999471,0.972864
2022-12-21 00:00:00-05:00,1.012101,1.026717,1.022019,1.023809,1.023809,1.109711
2022-12-22 00:00:00-05:00,1.010302,0.983554,0.981544,0.976227,0.976227,0.906016
2022-12-23 00:00:00-05:00,0.974470,0.984096,0.994935,0.997202,0.997202,0.819130

In [7]:
np.log(data/data.shift()) # تقسم ثم أخذ لوغارتم

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN
2022-01-04 00:00:00-05:00,0.026634,0.000328,0.007903,-0.012773,-0.012773,-0.050821
2022-01-05 00:00:00-05:00,-0.016674,-0.015257,-0.025329,-0.026960,-0.026960,-0.049253
2022-01-06 00:00:00-05:00,-0.039232,-0.027402,-0.017327,-0.016834,-0.016834,0.024723
2022-01-07 00:00:00-05:00,0.001100,-0.006639,-0.003560,0.000988,0.000988,-0.111162
...,...,...,...,...,...,...
2022-12-19 00:00:00-05:00,-0.011626,-0.017959,-0.018186,-0.016038,-0.016038,-0.698753
2022-12-20 00:00:00-05:00,-0.027919,-0.014528,-0.010949,-0.000529,-0.000529,-0.027511
2022-12-21 00:00:00-05:00,0.012029,0.026366,0.021780,0.023530,0.023530,0.104099
2022-12-22 00:00:00-05:00,0.010250,-0.016583,-0.018628,-0.024060,-0.024060,-0.098699
2022-12-23 00:00:00-05:00,-0.025862,-0.016032,-0.005078,-0.002802,-0.002802,-0.199512

In [8]:
# هذه القيم تدل على النسبة  المئوية للإرجاع التى حصل من أول تاريخ حتى أخره
np.sum(np.log(data/data.shift())) * 100

Open        -30.624161
High        -32.285155
Low         -31.539167
Close       -32.232084
Adj Close   -31.653386
Volume      -49.377273
dtype: float64

In [9]:
tickers = ['AAPL','MSFT','NVDA','AMZN']
data = yf.download(tickers,start=start)

[*********************100%***********************]  4 of 4 completed

In [12]:
# IBM هنالك بعض أسواق المال المكتبة السابقة تواجه مشاكل في تحميلها مثل  
df = pd.DataFrame()
df = df.ta.ticker('IBM',period='1y',interval='1d')
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-27 00:00:00-05:00,124.457575,125.429369,123.809699,125.400787,4293900,0.0,0
2021-12-28 00:00:00-05:00,125.381738,126.925186,125.372201,126.363068,3445200,0.0,0
2021-12-29 00:00:00-05:00,126.143926,127.868414,126.048660,127.049049,4239900,0.0,0
2021-12-30 00:00:00-05:00,127.430137,128.020837,127.029985,127.582581,3158100,0.0,0
2021-12-31 00:00:00-05:00,127.668337,128.611564,127.296766,127.344406,3362100,0.0,0
...,...,...,...,...,...,...,...
2022-12-19 00:00:00-05:00,140.160004,140.440002,137.199997,138.869995,5282900,0.0,0
2022-12-20 00:00:00-05:00,138.839996,141.429993,138.339996,141.279999,5156500,0.0,0
2022-12-21 00:00:00-05:00,141.839996,143.089996,140.979996,142.139999,3793700,0.0,0
2022-12-22 00:00:00-05:00,140.949997,141.440002,138.619995,140.880005,3337100,0.0,0
2022-12-23 00:00:00-05:00,140.589996,141.860001,139.600006,141.649994,2092500,0.0,0

In [13]:
data

                            Adj Close                                      \
                                 AAPL        AMZN        MSFT        NVDA
Date
2022-01-03 00:00:00-05:00  180.959732  170.404495  331.642456  300.928589
2022-01-04 00:00:00-05:00  178.663071  167.522003  325.955780  292.626343
2022-01-05 00:00:00-05:00  173.910660  164.356995  313.443024  275.782104
2022-01-06 00:00:00-05:00  171.007507  163.253998  310.966217  281.516754
2022-01-07 00:00:00-05:00  171.176544  162.554001  311.124695  272.215454
...                               ...         ...         ...         ...
2022-12-19 00:00:00-05:00  132.369995   84.919998  240.449997  162.539993
2022-12-20 00:00:00-05:00  132.300003   85.190002  241.800003  160.850006
2022-12-21 00:00:00-05:00  135.449997   86.769997  244.429993  165.009995
2022-12-22 00:00:00-05:00  132.229996   83.790001  238.190002  153.389999
2022-12-23 00:00:00-05:00  131.860001   85.250000  238.729996  152.059998

                                Close                                      \
                                 AAPL        AMZN        MSFT        NVDA
Date
2022-01-03 00:00:00-05:00  182.009995  170.404495  334.750000  301.209991
2022-01-04 00:00:00-05:00  179.699997  167.522003  329.010010  292.899994
2022-01-05 00:00:00-05:00  174.919998  164.356995  316.380005  276.040009
2022-01-06 00:00:00-05:00  172.000000  163.253998  313.880005  281.779999
2022-01-07 00:00:00-05:00  172.169998  162.554001  314.040009  272.470001
...                               ...         ...         ...         ...
2022-12-19 00:00:00-05:00  132.369995   84.919998  240.449997  162.539993
2022-12-20 00:00:00-05:00  132.300003   85.190002  241.800003  160.850006
2022-12-21 00:00:00-05:00  135.449997   86.769997  244.429993  165.009995
2022-12-22 00:00:00-05:00  132.229996   83.790001  238.190002  153.389999
2022-12-23 00:00:00-05:00  131.860001   85.250000  238.729996  152.059998

                                 High              ...         Low  \
                                 AAPL        AMZN  ...        MSFT
Date                                               ...
2022-01-03 00:00:00-05:00  182.880005  170.703506  ...  329.779999
2022-01-04 00:00:00-05:00  182.940002  171.399994  ...  326.119995
2022-01-05 00:00:00-05:00  180.169998  167.126495  ...  315.980011
2022-01-06 00:00:00-05:00  175.300003  164.800003  ...  311.489990
2022-01-07 00:00:00-05:00  174.139999  165.243500  ...  310.089996
...                               ...         ...  ...         ...
2022-12-19 00:00:00-05:00  135.199997   87.629997  ...  238.710007
2022-12-20 00:00:00-05:00  133.250000   86.610001  ...  238.419998
2022-12-21 00:00:00-05:00  136.809998   87.230003  ...  240.110001
2022-12-22 00:00:00-05:00  134.559998   85.680000  ...  233.869995
2022-12-23 00:00:00-05:00  132.419998   85.779999  ...  233.940002

                                             Open                          \
                                 NVDA        AAPL        AMZN        MSFT
Date
2022-01-03 00:00:00-05:00  297.850006  177.830002  167.550003  335.350006
2022-01-04 00:00:00-05:00  283.489990  182.630005  170.438004  334.829987
2022-01-05 00:00:00-05:00  275.329987  179.610001  166.882996  325.859985
2022-01-06 00:00:00-05:00  270.649994  172.699997  163.450500  313.149994
2022-01-07 00:00:00-05:00  270.570007  172.889999  163.839005  314.149994
...                               ...         ...         ...         ...
2022-12-19 00:00:00-05:00  161.449997  135.110001   87.510002  244.860001
2022-12-20 00:00:00-05:00  158.520004  131.389999   85.330002  239.399994
2022-12-21 00:00:00-05:00  161.020004  132.979996   86.180000  241.690002
2022-12-22 00:00:00-05:00  148.820007  134.350006   85.519997  241.259995
2022-12-23 00:00:00-05:00  148.830002  130.919998   83.250000  236.110001

                                          Volume
                                 NVDA       AAPL      AMZN      MSFT      NVDA
Date
2022-01-03 00:00:00-05:00  298.149994  104487900  63520000  28865100  39154700
2022-01-04 00:00:00-05:00  302.769989   99310400  70726000  32674300  52715400
2022-01-05 00:00:00-05:00  289.489990   94537600  64302000  40054300  49806400
2022-01-06 00:00:00-05:00  276.399994   96904000  51958000  39646100  45418600
2022-01-07 00:00:00-05:00  281.410004   86709100  46606000  32720000  40993900
...                               ...        ...       ...       ...       ...
2022-12-19 00:00:00-05:00  165.720001   79592600  83531500  29696400  35403900
2022-12-20 00:00:00-05:00  160.639999   77432800  74348300  25150800  40326000
2022-12-21 00:00:00-05:00  161.139999   85928000  59267200  23690600  32502500
2022-12-22 00:00:00-05:00  160.940002   77852100  81431300  28651700  56504500
2022-12-23 00:00:00-05:00  151.960007   63771000  57390800  21203200  34910900

[247 rows x 24 columns]

In [14]:
data = data['Adj Close']
data

                                 AAPL        AMZN        MSFT        NVDA
Date
2022-01-03 00:00:00-05:00  180.959732  170.404495  331.642456  300.928589
2022-01-04 00:00:00-05:00  178.663071  167.522003  325.955780  292.626343
2022-01-05 00:00:00-05:00  173.910660  164.356995  313.443024  275.782104
2022-01-06 00:00:00-05:00  171.007507  163.253998  310.966217  281.516754
2022-01-07 00:00:00-05:00  171.176544  162.554001  311.124695  272.215454
...                               ...         ...         ...         ...
2022-12-19 00:00:00-05:00  132.369995   84.919998  240.449997  162.539993
2022-12-20 00:00:00-05:00  132.300003   85.190002  241.800003  160.850006
2022-12-21 00:00:00-05:00  135.449997   86.769997  244.429993  165.009995
2022-12-22 00:00:00-05:00  132.229996   83.790001  238.190002  153.389999
2022-12-23 00:00:00-05:00  131.860001   85.250000  238.729996  152.059998

[247 rows x 4 columns]

In [15]:
portfolios = [.25,.15,.40,.20] # تعريف محفظة إستثمار

In [16]:
np.sum(portfolios) # يجب أن يكون مجموعها 1

1.0

In [17]:
data/data.iloc[0] # نقسم على العامود الذي نريد أن نبدأ الإستثمار عنده

                               AAPL      AMZN      MSFT      NVDA
Date
2022-01-03 00:00:00-05:00  1.000000  1.000000  1.000000  1.000000
2022-01-04 00:00:00-05:00  0.987308  0.983084  0.982853  0.972411
2022-01-05 00:00:00-05:00  0.961046  0.964511  0.945123  0.916437
2022-01-06 00:00:00-05:00  0.945003  0.958038  0.937655  0.935494
2022-01-07 00:00:00-05:00  0.945937  0.953930  0.938133  0.904585
...                             ...       ...       ...       ...
2022-12-19 00:00:00-05:00  0.731489  0.498344  0.725028  0.540128
2022-12-20 00:00:00-05:00  0.731102  0.499928  0.729098  0.534512
2022-12-21 00:00:00-05:00  0.748509  0.509200  0.737029  0.548336
2022-12-22 00:00:00-05:00  0.730715  0.491712  0.718213  0.509722
2022-12-23 00:00:00-05:00  0.728670  0.500280  0.719841  0.505303

[247 rows x 4 columns]

In [18]:
# 100000$ نضرب بحصة كل سوق مالي من المحفظة ثم نضرب بالمبلغ المستثمر 
(data/data.iloc[0])*portfolios*100000

,AAPL,AMZN,MSFT,NVDA
Date,,,,
2022-01-03 00:00:00-05:00,25000.000000,15000.000000,40000.000000,20000.000000
2022-01-04 00:00:00-05:00,24682.710989,14746.266195,39314.119658,19448.224835
2022-01-05 00:00:00-05:00,24026.154578,14467.663637,37804.933350,18328.740751
2022-01-06 00:00:00-05:00,23625.077439,14370.571408,37506.201195,18709.871017
2022-01-07 00:00:00-05:00,23648.430267,14308.953584,37525.315489,18091.697776
...,...,...,...,...
2022-12-19 00:00:00-05:00,18287.216942,7475.154753,29001.111596,10802.562422
2022-12-20 00:00:00-05:00,18277.547379,7498.922108,29163.938288,10690.244268
2022-12-21 00:00:00-05:00,18712.726225,7638.002435,29481.146121,10966.721050
2022-12-22 00:00:00-05:00,18267.875707,7375.685788,28728.529547,10194.445132
2022-12-23 00:00:00-05:00,18216.760037,7504.203444,28793.659119,10106.051946

In [19]:
# لننشئ محفظة عشوائية 
weight = np.random.random(4)
weight

array([0.14713592, 0.03357976, 0.38201509, 0.09596092])

In [20]:
weight.sum() # مجموعها لا يساوي 1

0.6586916917932915

In [21]:
weight = weight/weight.sum()
weight.sum() # نماماً

1.0

In [22]:
weight

array([0.22337601, 0.05097948, 0.57996038, 0.14568412])

In [23]:
(data/data.iloc[0])*weight*100000

,AAPL,AMZN,MSFT,NVDA
Date,,,,
2022-01-03 00:00:00-05:00,22337.601156,5097.948317,57996.038374,14568.412153
2022-01-04 00:00:00-05:00,22054.102141,5011.713528,57001.579808,14166.487752
2022-01-05 00:00:00-05:00,21467.466331,4917.026766,54813.409132,13351.032475
2022-01-06 00:00:00-05:00,21109.102285,4884.028688,54380.277094,13628.655615
2022-01-07 00:00:00-05:00,21129.968132,4863.087056,54407.990927,13178.365488
...,...,...,...,...
2022-12-19 00:00:00-05:00,16339.702333,2540.530173,42048.739525,7868.809084
2022-12-20 00:00:00-05:00,16331.062539,2548.607822,42284.822102,7786.994225
2022-12-21 00:00:00-05:00,16719.896599,2595.876111,42744.742044,7988.385611
2022-12-22 00:00:00-05:00,16322.420861,2506.724330,41653.522550,7425.843918
2022-12-23 00:00:00-05:00,16276.748803,2550.402754,41747.953980,7361.456500